[submodule "oscarvantol.nl/themes/PaperMod"]
	path = oscarvantol.nl/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "oscarvantol.nl/themes/ramium"]
	path = oscarvantol.nl/themes/ramium
	url = https://github.com/rafed/ramium.git
